[submodule "so_long"]
	path = so_long
	url = https://github.com/antoninpicard/42_so_long
[submodule "libft"]
	path = libft
	url = https://github.com/antoninpicard/42_libft
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/antoninpicard/42_push_swap
[submodule "pipex"]
	path = pipex
	url = https://github.com/antoninpicard/42_pipex
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/antoninpicard/42_get_next_line
[submodule "printf"]
	path = printf
	url = https://github.com/antoninpicard/42_printf
